<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>bootstrap text</Title>
    <Author>caoonnk</Author>
    <Shortcut>bstext</Shortcut>
    <Description>情景文本颜色</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="html"><![CDATA[<p class="text-danger">$end$</p>]]></Code>
  </Snippet>
</CodeSnippet>
